pethomeApp/.gradle
pethomeApp/gradlew
pethomeApp/gradlew.bat
pethomeApp/local.properties
pethomeApp/build/

pethomeApp/badgeView/build/
pethomeApp/badgeView/bin/

pethomeApp/app/build/
pethomeApp/app/bin/

pethomeApp/wishlist/build/
pethomeApp/wishlist/bin/

pethomeApp/actionbarsherlock/build/
pethomeApp/actionbarsherlock/bin/
pethomeApp/actionbarsherlock/target/
pethomeApp/actionbarsherlock/.classpath
pethomeApp/actionbarsherlock/.project
pethomeApp/actionbarsherlock/.settings/

pethomeWeb/.classpath
pethomeWeb/.project
pethomeWeb/.settings/
pethomeWeb/.cache
pethomeWeb/bin/
pethomeWeb/logs/
pethomeWeb/project/target/
pethomeWeb/project/project/
pethomeWeb/target/
pethomeWeb/public/components/
